vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\300887613
vti_modifiedby:SR|LAPTOP-DE3FNOHJ\\angel
vti_timelastmodified:TR|23 Nov 2019 15:44:28 -0000
vti_timecreated:TR|05 Nov 2019 22:26:21 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Week09and10/Week09Example.HTML
vti_nexttolasttimemodified:TR|05 Nov 2019 22:37:27 -0000
vti_cacheddtm:TX|23 Nov 2019 15:44:28 -0000
vti_filesize:IR|537
vti_cachedlinkinfo:VX|S|Images09/trilliumgradient.png S|Images09/CC50thAnniversary.jpg
vti_cachedsvcrellinks:VX|FSUS|Week09and10/Images09/trilliumgradient.png FSUS|Week09and10/Images09/CC50thAnniversary.jpg
