vti_encoding:SR|utf8-nl
vti_author:SR|LAPTOP-DE3FNOHJ\\angel
vti_modifiedby:SR|LAPTOP-DE3FNOHJ\\angel
vti_timelastmodified:TW|18 Oct 2019 21:04:50 -0000
vti_timecreated:TR|16 Oct 2019 23:11:21 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Assignment03/Assignment03.html
vti_nexttolasttimemodified:TW|18 Oct 2019 21:04:50 -0000
vti_cacheddtm:TX|18 Oct 2019 21:04:50 -0000
vti_filesize:IR|555
