vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\300887613
vti_modifiedby:SR|LAPTOP-DE3FNOHJ\\angel
vti_timelastmodified:TR|16 Oct 2019 23:39:23 -0000
vti_timecreated:TR|15 Oct 2019 19:15:50 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Week06and07/Week06and07.html
vti_nexttolasttimemodified:TW|16 Oct 2019 22:32:56 -0000
vti_cacheddtm:TX|16 Oct 2019 22:32:56 -0000
vti_filesize:IR|1690
vti_cachedlinkinfo:VX|S|Images/nature-background.jpg S|Images/trilliumbg.gif S|Images/trillium.gif S|Images/trilliumfoot.gif S|Images/trilliumminibanner.jpg
vti_cachedsvcrellinks:VX|FSUS|Week06and07/Images/nature-background.jpg FSUS|Week06and07/Images/trilliumbg.gif FSUS|Week06and07/Images/trillium.gif FSUS|Week06and07/Images/trilliumfoot.gif FSUS|Week06and07/Images/trilliumminibanner.jpg
