vti_encoding:SR|utf8-nl
vti_author:SR|LAPTOP-DE3FNOHJ\\angel
vti_modifiedby:SR|LAPTOP-DE3FNOHJ\\angel
vti_timelastmodified:TW|23 Nov 2019 19:20:37 -0000
vti_timecreated:TR|23 Nov 2019 15:52:17 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Assignment04/Assignment04.html
vti_nexttolasttimemodified:TW|23 Nov 2019 19:20:37 -0000
vti_cacheddtm:TX|23 Nov 2019 19:20:37 -0000
vti_filesize:IR|828
