vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\300887613
vti_modifiedby:SR|CENCOL\\300887613
vti_timelastmodified:TW|01 Oct 2019 22:05:34 -0000
vti_timecreated:TR|01 Oct 2019 21:23:24 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Week05/Week05Example.HTML
vti_nexttolasttimemodified:TW|01 Oct 2019 22:05:34 -0000
vti_cacheddtm:TX|01 Oct 2019 22:05:35 -0000
vti_filesize:IR|930
vti_cachedlinkinfo:VX|S|Images/aball.gif
vti_cachedsvcrellinks:VX|FSUS|Week05/Images/aball.gif
